.cont-video-home{
  width: 100%;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 3rem;
  left: 10%;
  width: 50%;
}

.banner-text > h1 {
  text-transform: uppercase;
}


.banner-text >p {
  font-size: 2.5rem;
}

.cont-logos-video {
  display: flex;
  align-items: center;
}

.logo-video {
  height: 5rem;
  width: auto;
}

@media screen and (max-width:1200px) {
  .cont-video-home {
    overflow: hidden;
  }
  .cont-video-home > video {
    width: 120%;
    max-width: 120%;
  }

  .banner-text {
    width: 70%;
  }
}

@media screen and (max-width:900px) {
  .cont-video-home > video {
    width: 150%;
    max-width: 150%;
  }

  .cont-video-home {
    display: flex;
    justify-content: right;
  }

  .banner-text {
    width: 70%;
  }
}

@media screen and (max-width:800px) {
  .banner-text {
    width: 90%;
  }
  .banner-text > h1 {
    font-size: 2rem;
  }

  .banner-text >p {
    font-size: 1.5rem;
    line-height: 1;
  }

  .banner-text > img {
    width: 5rem;
    height: auto;
  }

  

  .cont-video-home > video {
    width: 180%;
    max-width: 180%;
  }

  .logos-home {
    width: 20%;
    height: auto;
  }
}