.cont-accordion {
  padding: 7rem 10%;
}

.accordion  {
  background-color: var(--background-dark);
  
}

.group.is-splitted .group-\[\.is-splitted\]\:bg-content1 {
  background-color: var(--background-dark);

}

button > div >.text-foreground {
  color: var(--white);
  font-size: 2rem;
  line-height: 1.4;
}

@media screen and (max-width:800px) {
  button > div >.text-foreground {
    font-size: 1rem;
  }
}