.cont-speakers {
  padding: 8rem 5%;
}

.cont-speakers > h3 {
  margin-left: 10%;
}

.speakers-cont-cards {
  display: flex;
  max-width: 100%;
  padding: 0 ;
  overflow: hidden;
  margin-top: 4rem;
  height: 25rem;
  gap:0
}

.card {
  display: flex;
  flex: 1;
  transition: 1s;
}

.card > img {
  object-fit: cover;
  height: 25rem;
}

.cont-text-card {
  min-width: 5rem;
  background-color: var(--deeppink);
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.link{
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.link:hover{
  color: var(--background-dark);
  transition: 1s ease ;
}

.cont-text-card> p{
  rotate: -90deg;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}
.card:hover > .cont-text-card > .card-name {
  
  text-align: start;
}
.card-name {
  white-space: nowrap;
}

.card-bio , .link{
  display: none;
  min-width: 14rem;
}

.card-bio strong{
  font-weight: 700;
  font-size: 1.1rem;
}

.video-speaker {
  display: none;
  object-fit: cover;
}


.claudiaBio {
  background-color: var(--blue);
}

.cesarBio {
  background-color: var(--gold);
}

.susanaBio {
  background-color: var(--light-violet);
}

.noeliaBio {
  background-color: var(--empowerit);
}

.fernandoBio{
  background-color: #003578;
}

@media screen and (min-width:800px) {
  .card:hover > .video-speaker, .card:hover > .cont-text-card >.link {
    display: block;
  }

  .card:hover > .cont-text-card {
    width: 20rem;
  }
  .card:hover > img {
    display: none;
  }
  .card:hover {
    flex:2;
  }
  .card:hover > .cont-text-card {
    padding: 2rem;
    justify-content: flex-start;
  }
  .card:hover > .cont-text-card > p {
    font-weight: 700;
    rotate: 0deg;
  }
  
  .card:hover > .cont-text-card > .card-bio {
    font-weight: 200;
    display: block;
    font-size: 1rem;
    text-align: start;
  }
}

@media screen and (max-width:800px) {
  .link {
    display: block;
    min-width: 7rem;
  }
  .speakers-cont-cards {
    flex-direction: column;
    padding: 0;
    height: 100%;
    align-items: center;  
  }

  .card {
    margin-bottom: 2rem;
  }
  .card > img {
    
    display: none;
  }
  .cont-text-card> .card-bio {
    display: block;
    font-size: 0.7rem;
  }
  .cont-text-card {
    justify-content: start;
    padding-top: 0.5rem;
    min-width: 11rem;
    align-items: center;
    height: 25rem;
  }

  .cont-text-card > p {
    width: 8rem;
    min-width: 3rem
  }

  .card-name {
    white-space: wrap;
  }

  .cont-speakers {
    height: fit-content;
  }
  .video-speaker {
    display: block;
    width: 13rem;
    height: auto;
  }

  .cont-text-card> p{
    rotate: 0deg;
  }

  .card-bio  {
    height: fit-content;
  }
}