.cont-speakers {
  padding: 8rem 0;
}

.cont-speakers > h3 {
  margin-left: 10%;
}

.speakers-cont-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10% ;
  margin-top: 4rem;
  height: 25rem;
}

.card {
  display: flex;
  flex: 1;
  transition: 1s;
}

.card > img {
  object-fit: cover;
}

.card:hover {
  flex:3
}

.card:hover > .cont-text-card {
  width: 20rem;
}



.card:hover > img {
  display: none;
}

.cont-text-card {
  min-width: 5rem;
  background-color: var(--deeppink);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card:hover > .cont-text-card {
  padding: 2rem;
  justify-content: flex-start;
  text-align: start;
}
.card:hover > .cont-text-card > p {
  font-weight: 700;
  rotate: 0deg;
}

.card:hover > .cont-text-card > .card-bio {
  display: block;
  font-weight: 200;
}

.cont-text-card> p{
  rotate: -90deg;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}
.card:hover > .cont-text-card > .card-name {
  white-space: wrap;
}
.card-name {
  white-space: nowrap;
}

.card-bio {
  display: none;
}


.video-speaker {
  display: none;
}

.card:hover > .video-speaker {
  display: block;
}

.claudiaBio {
  background-color: var(--blue);
}

.mirianBio{
  background-color: var(--violet);
}

.tereBio {
  background-color: var(--dark-violet);
}