.cont-sponsors-list {
  padding: 5rem 0;
  background-color: var(--white);
  color: var(--dark-grey);
}

.cont-sponsors-list > h2 {
  margin-left: 10%;
  margin-bottom: 2rem;
}
.carousel-logos {
  display: flex;
  
  align-items: center;
  justify-content: flex-start;
  
  overflow: hidden;
}

@keyframes ticker {
  0% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(5%);
  }
}

.ticker-track {
  max-width: unset;
  display: flex;
  flex-direction: row;
  animation: ticker 10s linear infinite;
}

.ticker-track > img {
  margin: 0 5rem;
  padding: 1rem;
  background-color: white;
  height: 5rem;
  width: auto;
}