.cont-form {
  background-image: url('/backg-contact.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
}

.contact-text{
  width: 30%;
}

.contact-text>h4 {
  font-size: 2rem;
}

.contact-text>p{
  font-size: 1.5rem;
}

@media screen and (max-width:800px) {
  .cont-form {
    flex-direction: column-reverse;
    background-position: left;
    align-items: center;
  }

  .contact-text{
    width: 80%;
    text-align: center;
    margin-bottom: 3rem;
  }
}
