.cont-sponsors-list {
  padding: 5rem 0;
  background-color: var(--white);
  color: var(--dark-grey);
}

.cont-sponsors-list > h2 {
  margin-left: 10%;
  margin-bottom: 2rem;
}
.carousel-logos {
  display: flex;  
  align-items: center;
  justify-content: flex-start;  
  overflow: hidden;
}

@keyframes ticker {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.ticker-track {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  animation: ticker 20s linear infinite alternate;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.ticker-track > img {
  padding: 1rem;
  background-color: white;
  height: 5rem;
  width: auto;
}