.cont-themes-list {
  position: relative;
  height: 15rem;
  padding: 1% 15%;
  height: fit-content;
}

.themes-list {
	height: 55px;
	color: #fff;
	font-size: 20px;
	margin: auto;
  height: fit-content;
}

.themes-list  > ul {
  display: flex;
  flex-wrap: wrap;
	list-style: none;
	padding-left: 10px;
  margin: 0;
  line-height: 1.6;
  gap:2%;
  text-shadow:
    0 0 10px var(--deeppink);
  height: fit-content;
}

.themes-list  > ul > li{
  min-width: 45%;
}

@keyframes cambiar {
	
	0%{margin-right: 0;}
	20%{margin-right: 0;}
	
	20% {margin-right: 70px;}
	40% {margin-right: 70px;}
	
	40% {margin-right: 140px;}
	60% {margin-right: 140px;}
	
	60% {margin-right: 200px;}
	80% {margin-right: 200px;}

	80% {margin-right: 100vw;}
	100% {margin-right: 100vw;}
	
}

@media screen and (max-width:1000px) {
  .themes-list  >ul {
    animation: none;
  }

  .themes-list {
    height: auto;
    position: relative;
    padding: 5rem 0;
  }

  .cont-themes-list {
    height: auto;
  }

  .themes-list  >ul >li{
    font-size: 1.2rem;
    line-height: 2;

  }
}