footer{
  padding: 7rem 20%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  background-image: url('/footer.png');
  background-position: center;
}

.links-list {
  display: flex;
  flex-direction: column;
}